/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ */
:root {
  --font-main: system-ui, 'Segoe UI', Roboto, sans-serif;
  --color-text: #530a31;
  --color-heading: #08060d;
  --color-bg: #fce4ec;
  --color-border: #ecc7dc;
  --color-accent: #880e4f;

  font-family: var(--font-main);
  font-size: 16px;
  color: var(--color-text);
  background: var(--color-bg);
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  color: var(--color-heading);
  font-weight: 500;
}

p {
  margin: 0;
}